.root {
	-fx-background-image: url("pic/about.jpeg");
	-fx-background-size:stretch;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color:transparent;
}

.text-area{
    -fx-font-weight: bold
}

.button{
    -fx-background-color:darkred;
    -fx-text-fill:white;
    -fx-font-weight: bold
}