.root {
	-fx-background-image: url("pic/menuPic.jpg");
	-fx-background-size: cover;
}

.button {
    -fx-background-color: rgb(45, 169, 229); /* Blue */
    -fx-color: white;
    -fx-padding: 6px 20px;
    -fx-text-align: center;
    -fx-display:block;
    -fx-border-radius: 12px;
    -fx-font-size: 12px;

}

.button:hover {
    -fx-background-color: white;
}