.root {
	/*-fx-background-color:darkcyan;*/
	-fx-background-image: url("pic/search.jpeg");
    -fx-background-size: cover;
}

.choice-box {
    -fx-pref-width: 188;

}

.choice-box .context-menu {
    -fx-pref-width: 188;

}

.label{
    /*-fx-text-fill: white;*/

}

